.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__tUPnP {
  width: 100%;
  height: auto;
  max-width: var(--token-ZP2Alr-3vtkp);
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox__tUPnP > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__tUPnP > :global(.__wab_flex-container) > *,
.freeBox__tUPnP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tUPnP > :global(.__wab_flex-container) > picture > img,
.freeBox__tUPnP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tUPnP {
    width: 100%;
    height: auto;
    max-width: var(--token-ZP2Alr-3vtkp);
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tUPnP > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tUPnP > :global(.__wab_flex-container) > *,
  .freeBox__tUPnP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tUPnP > :global(.__wab_flex-container) > picture > img,
  .freeBox__tUPnP
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__yzMfJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__yzMfJ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__yzMfJ > :global(.__wab_flex-container) > *,
.freeBox__yzMfJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yzMfJ > :global(.__wab_flex-container) > picture > img,
.freeBox__yzMfJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yzMfJ {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yzMfJ > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yzMfJ > :global(.__wab_flex-container) > *,
  .freeBox__yzMfJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yzMfJ > :global(.__wab_flex-container) > picture > img,
  .freeBox__yzMfJ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__sr0U1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__ipobx {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: var(--token-NEon4Y--Z);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ipobx {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-NEon4Y--Z);
  }
}
.text__iuVb {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__iuVb {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text__lwvQx {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lwvQx {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox__jhYpx {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__jhYpx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__jhYpx > :global(.__wab_flex-container) > *,
.freeBox__jhYpx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jhYpx > :global(.__wab_flex-container) > picture > img,
.freeBox__jhYpx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__vbg6X:global(.__wab_instance) {
  position: relative;
}
.svg__dznn0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__vDo5V {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__wv62D:global(.__wab_instance) {
  position: relative;
}
.svg__nBgum {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ymV23 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__cgIRp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img__rciLe {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__rciLe > picture > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    --plsmc-rc-col-gap: 0px;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__fCcrR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__fCcrR {
    width: 100%;
  }
}
.freeBox__ueJpK {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ueJpK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__ueJpK > :global(.__wab_flex-container) > *,
.freeBox__ueJpK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ueJpK > :global(.__wab_flex-container) > picture > img,
.freeBox__ueJpK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ueJpK {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ueJpK > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text___0IMjC {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
}
.text__ezChn {
  position: relative;
  color: var(--token-jBhCqxBbh1U);
}
.featureCard__ur92O:global(.__wab_instance) {
  position: relative;
}
.svg__u7CQj {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__lgI3B {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__gbsf:global(.__wab_instance) {
  position: relative;
}
.svg__bYen {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__yfFQy {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__bb3Nn:global(.__wab_instance) {
  position: relative;
}
.svg__uuepk {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__hxJxr {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column__yNfKs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__yNfKs {
    width: 100%;
  }
}
.img__q6HW {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__q6HW > picture > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.freeBox__hLseW {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__hLseW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__hLseW > :global(.__wab_flex-container) > *,
.freeBox__hLseW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hLseW > :global(.__wab_flex-container) > picture > img,
.freeBox__hLseW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__asDN:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__lFLqQ {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-OsSFb235fZbX);
}
.svg__xWbN4 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__wlw8U:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__pcsuJ {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-OsSFb235fZbX);
}
.svg___0R2Qe {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__eq5ZX:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__oWv4O {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-OsSFb235fZbX);
}
.svg__irOBk {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___5AG2:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__irp4N {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-OsSFb235fZbX);
}
.svg__l6Dom {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__in0Ly:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__oRm3A {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-OsSFb235fZbX);
}
.svg__qs4Ec {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__igugL:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__nRfJo {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-OsSFb235fZbX);
}
.svg__gk6RI {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__dkAJq {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid var(--token-pSWlHYb74hVD);
}
.validation:global(.__wab_instance) {
  position: relative;
}
.freeBox__juIYa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__juIYa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__juIYa > :global(.__wab_flex-container) > *,
.freeBox__juIYa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__juIYa > :global(.__wab_flex-container) > picture > img,
.freeBox__juIYa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__tioJ {
  display: flex;
  flex-direction: row;
}
.freeBox__tioJ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__tioJ > :global(.__wab_flex-container) > *,
.freeBox__tioJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tioJ > :global(.__wab_flex-container) > picture > img,
.freeBox__tioJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg___8BqC3 {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__ljbfo {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__e1Vt3 {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__x3G6K {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__g7Mv {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
.freeBox__fBlk1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
