.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__zIi1 {
  width: 100%;
  height: auto;
  max-width: var(--token-ZP2Alr-3vtkp);
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox__zIi1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__zIi1 > :global(.__wab_flex-container) > *,
.freeBox__zIi1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zIi1 > :global(.__wab_flex-container) > picture > img,
.freeBox__zIi1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__vc3Kg {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__vc3Kg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns__vc3Kg > :global(.__wab_flex-container) > *,
.columns__vc3Kg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__vc3Kg > :global(.__wab_flex-container) > picture > img,
.columns__vc3Kg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns__vc3Kg > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__vc3Kg > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vc3Kg {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vc3Kg > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vc3Kg > :global(.__wab_flex-container) > *,
  .columns__vc3Kg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__vc3Kg > :global(.__wab_flex-container) > picture > img,
  .columns__vc3Kg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vc3Kg > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__zwYqt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zwYqt {
    width: 100%;
  }
}
.freeBox__yLGrm {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__yLGrm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__yLGrm > :global(.__wab_flex-container) > *,
.freeBox__yLGrm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yLGrm > :global(.__wab_flex-container) > picture > img,
.freeBox__yLGrm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yLGrm {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yLGrm > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__hzF5M {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__vnGiO {
  position: relative;
  text-align: left;
}
.bullet___1Dh7X:global(.__wab_instance) {
  position: relative;
}
.bullet__dhPwO:global(.__wab_instance) {
  position: relative;
}
.bullet___5T56Y:global(.__wab_instance) {
  position: relative;
}
.text__bjIc {
  position: relative;
  text-align: left;
}
.freeBox__iQjP {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__iQjP > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__iQjP > :global(.__wab_flex-container) > *,
.freeBox__iQjP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iQjP > :global(.__wab_flex-container) > picture > img,
.freeBox__iQjP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iQjP {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iQjP > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iQjP > :global(.__wab_flex-container) > *,
  .freeBox__iQjP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__iQjP > :global(.__wab_flex-container) > picture > img,
  .freeBox__iQjP
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button___3IrK:global(.__wab_instance) {
  position: relative;
}
.svg__eSlEy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__eUMuw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___8Sozf:global(.__wab_instance) {
  position: relative;
}
.svg__hsuMt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__mP7Vt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__jo20F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__jo20F {
    width: 100%;
  }
}
.img___8Sl8 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___8Sl8 > picture > img {
  object-fit: cover;
}
.columns__u5VSd {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__u5VSd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns__u5VSd > :global(.__wab_flex-container) > *,
.columns__u5VSd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__u5VSd > :global(.__wab_flex-container) > picture > img,
.columns__u5VSd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns__u5VSd > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__u5VSd > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__u5VSd {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__u5VSd > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__u5VSd > :global(.__wab_flex-container) > *,
  .columns__u5VSd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__u5VSd > :global(.__wab_flex-container) > picture > img,
  .columns__u5VSd
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__u5VSd > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__t9Baq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__t9Baq {
    width: 100%;
  }
}
.img__dxInK {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__dxInK > picture > img {
  object-fit: cover;
}
.column__naW3N {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__naW3N {
    width: 100%;
  }
}
.freeBox__pzJfv {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__pzJfv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__pzJfv > :global(.__wab_flex-container) > *,
.freeBox__pzJfv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pzJfv > :global(.__wab_flex-container) > picture > img,
.freeBox__pzJfv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pzJfv {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pzJfv > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text___8BmSz {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__j5Eiq {
  position: relative;
  text-align: left;
}
.bullet___4FUvG:global(.__wab_instance) {
  position: relative;
}
.bullet__cvEf0:global(.__wab_instance) {
  position: relative;
}
.bullet__aqjIb:global(.__wab_instance) {
  position: relative;
}
.text___9Zvh3 {
  position: relative;
  text-align: left;
}
.freeBox__zaHse {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__zaHse > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__zaHse > :global(.__wab_flex-container) > *,
.freeBox__zaHse > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zaHse > :global(.__wab_flex-container) > picture > img,
.freeBox__zaHse
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zaHse {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zaHse > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zaHse > :global(.__wab_flex-container) > *,
  .freeBox__zaHse > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zaHse > :global(.__wab_flex-container) > picture > img,
  .freeBox__zaHse
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__bNbTq:global(.__wab_instance) {
  position: relative;
}
.svg__uEgNo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__uzSMd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__rvT7O:global(.__wab_instance) {
  position: relative;
}
.svg__lt400 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__sew1Q {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
